<!-- <p>Contador: {{contador}}</p>



<div *ngFor="let item of lista">
    <strong>{{item.id}}</strong>
    <h1>{{item.titulo}}</h1>
    <p>{{item.descricao}}</p>
</div>

<button (click)="teste()">Adicionar</button>


<table>
    <tr *ngFor="let item of lista">
        <td>{{item.id}}</td>
        <td>{{item.titulo}}</td>
        <td>{{item.descricao}}</td>
        <td><button (click)="teste()">deletar</button></td>
    </tr>
</table> -->


<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">



  <nav class="navbar navbar-expand-lg navbar-dark bg-dark" >
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item dropdown">
            <a class="nav-link " routerLink="/conteiner">Conteiner</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " routerLink="/cliente">Cliente</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " routerLink="/movimento">Movimentação</a>
          </li>

          <li class="nav-item">
            <a class="nav-link " routerLink="/relatorio">Relatório</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>