

    <app-navbar></app-navbar>
<body>
 
    <div class="card" >
        <form (submit)="filtrarConteineres()" id="form" class="cardConteiner">
            <button type="button" (click)="abrirModalCriarConteiner()" class="btn btn-success">Criar</button>
            <h1>Buscar Contêiner </h1> 
              <div class="row">
                <div class="col-1">
                  <label class="form-label">Cliente</label>
                  <select required [(ngModel)]="editCliente" name="cliente" class="form-select" aria-label="Default select example">
                    <option selected value="">Selecione um cliente</option>
                    <option *ngFor="let cliente of listaClientes" [value]="cliente.clienteId">{{ cliente.nome }}</option>
                  </select>
                </div>
                <div class="col-1">
              <label class="form-label">Número do Contêiner</label>
              <input [(ngModel)]="numero" mask='SSSS9999999' name="numero" type="text" class="form-control"  >
            </div>
            <div class="col-1">           
              <label class="form-label">Tipo</label>
              <select [(ngModel)]="tipo" name="tipo" class="form-select" aria-label="Default select example">
                <option selected value="">Selecione um tipo</option>
                <option value="20">20</option>
                <option value="40">40</option>
              </select>
            </div> 
            <div class="col-1">           
              <label  class="form-label">Status</label>
              <select [(ngModel)]="status" name="status" class="form-select" aria-label="Default select example">
                <option selected value="">Selecione um status</option>
                <option  value="cheio">Cheio</option>
                <option  value="vazio">Vazio</option>
              </select>
            </div> 
            <div class="col-1">           
              <label  class="form-label">Categoria</label>
              <select [(ngModel)]="categoria" name="categoria" class="form-select" aria-label="Default select example">
                <option selected value="">Selecione uma categoria</option>
                <option value="importação">Importação</option>
                <option value="exportação">Exportação</option>
              </select>
            </div> 
          </div> <br>
              <button type="submit" id="buscar" class="btn btn-secondary">Buscar</button>
        </form>
       
        <table id="tabela"class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Cliente</th>
                <th scope="col">Número</th>
                <th scope="col">Tipo</th>
                <th scope="col">Status</th>
                <th scope="col">Categoria</th>
                <th scope="col">Ações</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let conteiner of listaConteineres">
                  <td>{{conteiner.id}}</td>
                  <td>
                    <div *ngIf="conteiner.edit"><select  class="form-select" [(ngModel)]="editCliente">
                      <option *ngFor="let cliente of listaClientes" [value]="cliente.clienteId">{{ cliente.nome }}</option>
                    </select>        
                  </div>
                    <div *ngIf="!conteiner.edit">{{ conteiner.nomeCliente }}</div>
                  </td>
                  <td>
                    <div *ngIf="conteiner.edit"><input type="text" class="form-control" [(ngModel)]="editNumero"></div>
                    <div *ngIf="!conteiner.edit">{{ conteiner.numero }}</div>
                  </td>
                  <td>
                    <div *ngIf="conteiner.edit">
                      <select class="form-select" [(ngModel)]="editTipo" name="editTipo" id="">
                        <option value="20">20</option>
                        <option value="40">40</option>
                      </select>
                    </div>
                    <div *ngIf="!conteiner.edit">{{ conteiner.tipo }}</div>
                  </td>
                  <td>
                    <div *ngIf="conteiner.edit">
                    <select class="form-select" [(ngModel)]="editStatus" name="editStatus" id="">
                      <option value="cheio">Cheio</option>
                      <option value="vazio">Vazio</option>
                    </select></div>
                    <div *ngIf="!conteiner.edit">{{ conteiner.status }}</div>
                  </td>
                  <td>
                    <div *ngIf="conteiner.edit">
                      <select class="form-select" [(ngModel)]="editCategoria" name="editCategoria" id="">
                      <option value="importacao">Importação</option>
                      <option value="exportacao">Exportação</option>
                    </select></div>
                    <div *ngIf="!conteiner.edit">{{ conteiner.categoria }}</div>
                  </td>


                  <div *ngIf="conteiner.edit">
                    <button (click)="editarConteiner(conteiner, cliente)">Salvar</button>
                    <button (click)="desabilitarEdicao(conteiner)">Cancelar</button>
                  </div>
                  <td>
                  <div *ngIf="!conteiner.edit">
                    <button (click)="deletarConteiner(conteiner.id)">Excluir</button>
                    <button (click)="habilitarEdicao(conteiner)">Editar</button>
                  </div>
                    </tr> 
            </tbody>
          </table>
          
      </div>

    
      



    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.min.js" integrity="sha384-Rx+T1VzGupg4BHQYs2gCW9It+akI2MM/mndMCy36UVfodzcJcF0GGLxZIzObiEfa" crossorigin="anonymous"></script>
</body>
